    /*
    Flaticon icon font: Flaticon
    Creation date: 05/11/2018 09:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-hotel:before { content: "\f100"; }
.flaticon-002-hotel-1:before { content: "\f101"; }
.flaticon-003-hotel-2:before { content: "\f102"; }
.flaticon-004-air-conditioner:before { content: "\f103"; }
.flaticon-005-taxi:before { content: "\f104"; }
.flaticon-006-bar-service:before { content: "\f105"; }
.flaticon-007-wine:before { content: "\f106"; }
.flaticon-008-cleaning:before { content: "\f107"; }
.flaticon-009-bathtub:before { content: "\f108"; }
.flaticon-010-single-bed:before { content: "\f109"; }
.flaticon-011-cutlery:before { content: "\f10a"; }
.flaticon-012-budget:before { content: "\f10b"; }
.flaticon-013-bunk-bed:before { content: "\f10c"; }
.flaticon-014-payment:before { content: "\f10d"; }
.flaticon-015-deck:before { content: "\f10e"; }
.flaticon-016-payment-1:before { content: "\f10f"; }
.flaticon-017-die:before { content: "\f110"; }
.flaticon-018-check-in:before { content: "\f111"; }
.flaticon-019-skyscrapers:before { content: "\f112"; }
.flaticon-020-check-in-1:before { content: "\f113"; }
.flaticon-021-check-out:before { content: "\f114"; }
.flaticon-022-check-out-1:before { content: "\f115"; }
.flaticon-023-check-in-2:before { content: "\f116"; }
.flaticon-024-credit-card:before { content: "\f117"; }
.flaticon-025-dinner:before { content: "\f118"; }
.flaticon-026-do-not-disturb:before { content: "\f119"; }
.flaticon-027-door-hanger:before { content: "\f11a"; }
.flaticon-028-double-bed:before { content: "\f11b"; }
.flaticon-029-double-bed-1:before { content: "\f11c"; }
.flaticon-030-family:before { content: "\f11d"; }
.flaticon-031-family-1:before { content: "\f11e"; }
.flaticon-032-hotel-3:before { content: "\f11f"; }
.flaticon-033-hotel-4:before { content: "\f120"; }
.flaticon-034-fire-extinguisher:before { content: "\f121"; }
.flaticon-035-plane:before { content: "\f122"; }
.flaticon-036-wifi:before { content: "\f123"; }
.flaticon-037-front-desk:before { content: "\f124"; }
.flaticon-038-basketball:before { content: "\f125"; }
.flaticon-039-hair-dryer:before { content: "\f126"; }
.flaticon-040-hanger:before { content: "\f127"; }
.flaticon-041-information-desk:before { content: "\f128"; }
.flaticon-042-family-2:before { content: "\f129"; }
.flaticon-043-building:before { content: "\f12a"; }
.flaticon-044-skyscraper:before { content: "\f12b"; }
.flaticon-045-bill:before { content: "\f12c"; }
.flaticon-046-bill-1:before { content: "\f12d"; }
.flaticon-047-website:before { content: "\f12e"; }
.flaticon-048-information-desk-1:before { content: "\f12f"; }
.flaticon-049-reception-desk:before { content: "\f130"; }
.flaticon-050-reception-desk-1:before { content: "\f131"; }
.flaticon-051-bedroom:before { content: "\f132"; }
.flaticon-052-bedroom-1:before { content: "\f133"; }
.flaticon-053-service:before { content: "\f134"; }
.flaticon-054-receptionist:before { content: "\f135"; }
.flaticon-055-website-1:before { content: "\f136"; }
.flaticon-056-skyscraper-1:before { content: "\f137"; }
.flaticon-057-real-estate:before { content: "\f138"; }
.flaticon-058-ironing-board:before { content: "\f139"; }
.flaticon-059-jackpot:before { content: "\f13a"; }
.flaticon-060-key:before { content: "\f13b"; }
.flaticon-061-key-ring:before { content: "\f13c"; }
.flaticon-062-luggage:before { content: "\f13d"; }
.flaticon-063-laundry:before { content: "\f13e"; }
.flaticon-064-lift:before { content: "\f13f"; }
.flaticon-065-lift-1:before { content: "\f140"; }
.flaticon-066-address:before { content: "\f141"; }
.flaticon-067-placeholder:before { content: "\f142"; }
.flaticon-068-luggage-1:before { content: "\f143"; }
.flaticon-069-luggage-2:before { content: "\f144"; }
.flaticon-070-luggage-3:before { content: "\f145"; }
.flaticon-071-luggage-4:before { content: "\f146"; }
.flaticon-072-bedroom-2:before { content: "\f147"; }
.flaticon-073-bedroom-3:before { content: "\f148"; }
.flaticon-074-menu:before { content: "\f149"; }
.flaticon-075-menu-1:before { content: "\f14a"; }
.flaticon-076-review:before { content: "\f14b"; }
.flaticon-077-like:before { content: "\f14c"; }
.flaticon-078-no-alcohol:before { content: "\f14d"; }
.flaticon-079-swimming-pool:before { content: "\f14e"; }
.flaticon-080-no-smoking:before { content: "\f14f"; }
.flaticon-081-booking:before { content: "\f150"; }
.flaticon-082-booking-1:before { content: "\f151"; }
.flaticon-083-booking-2:before { content: "\f152"; }
.flaticon-084-passport:before { content: "\f153"; }
.flaticon-085-passport-1:before { content: "\f154"; }
.flaticon-086-dog:before { content: "\f155"; }
.flaticon-087-dog-1:before { content: "\f156"; }
.flaticon-088-no-pets:before { content: "\f157"; }
.flaticon-089-telephone:before { content: "\f158"; }
.flaticon-090-telephone-1:before { content: "\f159"; }
.flaticon-091-beach-umbrella:before { content: "\f15a"; }
.flaticon-092-restaurant:before { content: "\f15b"; }
.flaticon-093-restaurant-1:before { content: "\f15c"; }
.flaticon-094-key-card:before { content: "\f15d"; }
.flaticon-095-room-key:before { content: "\f15e"; }
.flaticon-096-service-1:before { content: "\f15f"; }
.flaticon-097-single-bed-1:before { content: "\f160"; }
.flaticon-098-booking-3:before { content: "\f161"; }
.flaticon-099-small-bell:before { content: "\f162"; }
.flaticon-100-booking-4:before { content: "\f163"; }
.flaticon-101-trolley:before { content: "\f164"; }
.flaticon-102-shower:before { content: "\f165"; }
.flaticon-103-shower-1:before { content: "\f166"; }
.flaticon-104-single-bed-2:before { content: "\f167"; }
.flaticon-105-smoking:before { content: "\f168"; }
.flaticon-106-drop:before { content: "\f169"; }
.flaticon-107-stairs:before { content: "\f16a"; }
.flaticon-108-stairs-1:before { content: "\f16b"; }
.flaticon-109-hotel-5:before { content: "\f16c"; }
.flaticon-110-swimming-pool-1:before { content: "\f16d"; }
.flaticon-111-table-lamp:before { content: "\f16e"; }
.flaticon-112-tag:before { content: "\f16f"; }
.flaticon-113-taxi-1:before { content: "\f170"; }
.flaticon-114-taxi-2:before { content: "\f171"; }
.flaticon-115-tea:before { content: "\f172"; }
.flaticon-116-towel:before { content: "\f173"; }
.flaticon-117-verified:before { content: "\f174"; }
.flaticon-118-verified-1:before { content: "\f175"; }
.flaticon-119-beach-umbrella-1:before { content: "\f176"; }
.flaticon-120-washing-machine:before { content: "\f177"; }
.flaticon-121-wheelchair:before { content: "\f178"; }
.flaticon-122-wifi-1:before { content: "\f179"; }
.flaticon-123-location:before { content: "\f17a"; }
    
    $font-Flaticon-001-hotel: "\f100";
    $font-Flaticon-002-hotel-1: "\f101";
    $font-Flaticon-003-hotel-2: "\f102";
    $font-Flaticon-004-air-conditioner: "\f103";
    $font-Flaticon-005-taxi: "\f104";
    $font-Flaticon-006-bar-service: "\f105";
    $font-Flaticon-007-wine: "\f106";
    $font-Flaticon-008-cleaning: "\f107";
    $font-Flaticon-009-bathtub: "\f108";
    $font-Flaticon-010-single-bed: "\f109";
    $font-Flaticon-011-cutlery: "\f10a";
    $font-Flaticon-012-budget: "\f10b";
    $font-Flaticon-013-bunk-bed: "\f10c";
    $font-Flaticon-014-payment: "\f10d";
    $font-Flaticon-015-deck: "\f10e";
    $font-Flaticon-016-payment-1: "\f10f";
    $font-Flaticon-017-die: "\f110";
    $font-Flaticon-018-check-in: "\f111";
    $font-Flaticon-019-skyscrapers: "\f112";
    $font-Flaticon-020-check-in-1: "\f113";
    $font-Flaticon-021-check-out: "\f114";
    $font-Flaticon-022-check-out-1: "\f115";
    $font-Flaticon-023-check-in-2: "\f116";
    $font-Flaticon-024-credit-card: "\f117";
    $font-Flaticon-025-dinner: "\f118";
    $font-Flaticon-026-do-not-disturb: "\f119";
    $font-Flaticon-027-door-hanger: "\f11a";
    $font-Flaticon-028-double-bed: "\f11b";
    $font-Flaticon-029-double-bed-1: "\f11c";
    $font-Flaticon-030-family: "\f11d";
    $font-Flaticon-031-family-1: "\f11e";
    $font-Flaticon-032-hotel-3: "\f11f";
    $font-Flaticon-033-hotel-4: "\f120";
    $font-Flaticon-034-fire-extinguisher: "\f121";
    $font-Flaticon-035-plane: "\f122";
    $font-Flaticon-036-wifi: "\f123";
    $font-Flaticon-037-front-desk: "\f124";
    $font-Flaticon-038-basketball: "\f125";
    $font-Flaticon-039-hair-dryer: "\f126";
    $font-Flaticon-040-hanger: "\f127";
    $font-Flaticon-041-information-desk: "\f128";
    $font-Flaticon-042-family-2: "\f129";
    $font-Flaticon-043-building: "\f12a";
    $font-Flaticon-044-skyscraper: "\f12b";
    $font-Flaticon-045-bill: "\f12c";
    $font-Flaticon-046-bill-1: "\f12d";
    $font-Flaticon-047-website: "\f12e";
    $font-Flaticon-048-information-desk-1: "\f12f";
    $font-Flaticon-049-reception-desk: "\f130";
    $font-Flaticon-050-reception-desk-1: "\f131";
    $font-Flaticon-051-bedroom: "\f132";
    $font-Flaticon-052-bedroom-1: "\f133";
    $font-Flaticon-053-service: "\f134";
    $font-Flaticon-054-receptionist: "\f135";
    $font-Flaticon-055-website-1: "\f136";
    $font-Flaticon-056-skyscraper-1: "\f137";
    $font-Flaticon-057-real-estate: "\f138";
    $font-Flaticon-058-ironing-board: "\f139";
    $font-Flaticon-059-jackpot: "\f13a";
    $font-Flaticon-060-key: "\f13b";
    $font-Flaticon-061-key-ring: "\f13c";
    $font-Flaticon-062-luggage: "\f13d";
    $font-Flaticon-063-laundry: "\f13e";
    $font-Flaticon-064-lift: "\f13f";
    $font-Flaticon-065-lift-1: "\f140";
    $font-Flaticon-066-address: "\f141";
    $font-Flaticon-067-placeholder: "\f142";
    $font-Flaticon-068-luggage-1: "\f143";
    $font-Flaticon-069-luggage-2: "\f144";
    $font-Flaticon-070-luggage-3: "\f145";
    $font-Flaticon-071-luggage-4: "\f146";
    $font-Flaticon-072-bedroom-2: "\f147";
    $font-Flaticon-073-bedroom-3: "\f148";
    $font-Flaticon-074-menu: "\f149";
    $font-Flaticon-075-menu-1: "\f14a";
    $font-Flaticon-076-review: "\f14b";
    $font-Flaticon-077-like: "\f14c";
    $font-Flaticon-078-no-alcohol: "\f14d";
    $font-Flaticon-079-swimming-pool: "\f14e";
    $font-Flaticon-080-no-smoking: "\f14f";
    $font-Flaticon-081-booking: "\f150";
    $font-Flaticon-082-booking-1: "\f151";
    $font-Flaticon-083-booking-2: "\f152";
    $font-Flaticon-084-passport: "\f153";
    $font-Flaticon-085-passport-1: "\f154";
    $font-Flaticon-086-dog: "\f155";
    $font-Flaticon-087-dog-1: "\f156";
    $font-Flaticon-088-no-pets: "\f157";
    $font-Flaticon-089-telephone: "\f158";
    $font-Flaticon-090-telephone-1: "\f159";
    $font-Flaticon-091-beach-umbrella: "\f15a";
    $font-Flaticon-092-restaurant: "\f15b";
    $font-Flaticon-093-restaurant-1: "\f15c";
    $font-Flaticon-094-key-card: "\f15d";
    $font-Flaticon-095-room-key: "\f15e";
    $font-Flaticon-096-service-1: "\f15f";
    $font-Flaticon-097-single-bed-1: "\f160";
    $font-Flaticon-098-booking-3: "\f161";
    $font-Flaticon-099-small-bell: "\f162";
    $font-Flaticon-100-booking-4: "\f163";
    $font-Flaticon-101-trolley: "\f164";
    $font-Flaticon-102-shower: "\f165";
    $font-Flaticon-103-shower-1: "\f166";
    $font-Flaticon-104-single-bed-2: "\f167";
    $font-Flaticon-105-smoking: "\f168";
    $font-Flaticon-106-drop: "\f169";
    $font-Flaticon-107-stairs: "\f16a";
    $font-Flaticon-108-stairs-1: "\f16b";
    $font-Flaticon-109-hotel-5: "\f16c";
    $font-Flaticon-110-swimming-pool-1: "\f16d";
    $font-Flaticon-111-table-lamp: "\f16e";
    $font-Flaticon-112-tag: "\f16f";
    $font-Flaticon-113-taxi-1: "\f170";
    $font-Flaticon-114-taxi-2: "\f171";
    $font-Flaticon-115-tea: "\f172";
    $font-Flaticon-116-towel: "\f173";
    $font-Flaticon-117-verified: "\f174";
    $font-Flaticon-118-verified-1: "\f175";
    $font-Flaticon-119-beach-umbrella-1: "\f176";
    $font-Flaticon-120-washing-machine: "\f177";
    $font-Flaticon-121-wheelchair: "\f178";
    $font-Flaticon-122-wifi-1: "\f179";
    $font-Flaticon-123-location: "\f17a";